<%- include('../partials/header'); %> <%- include('../partials/dashboard'); %>

  
  <%- include('../partials/tableFull'); %>

  <!--/ Console Content-->
    <div>
        <%= query[0].nickname %> 
    </div>
  <!--/container-->
  <%- include('../partials/footer'); %>
